/* Start reset settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* End reset settings */
body {
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  font-family: 'Lato', sans-serif;

}
.container {
  padding: 20px;
}
.info {
  background-color: #F4F3F3;
  width: fit-content;
  position: absolute;
  padding: 10px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
}
h1 {
  font-size: 2em;
}
h2 {
  font-weight: 400;
  font-size: 1.8em;
  margin: 0 0 7px 0;
}
h3 {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.form-wrapper {
  margin: 0 auto;
  background-color: white;
  max-width: 850px;
  font-size: 20px;
  display: flex;
  line-height: 32px;
  position: relative;
  background-color: #F4F3F3;
}
.contact-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact-links img {
  height: 40px;
}
form {
  padding: 15px 25px 35px 25px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
  background-color: white;
  margin-top: 10px;
  position: relative;
}
.form-img {
  background-image: url("images/mac.jpg");
  width: 40%;
  background-size: cover;
  height: 600px;
}
form label {
  width: 80px;
}
form input {
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(0 0 0 / 40%);
  float: right;
  margin-bottom: 7px;
  width: 90%;
  font-family: 'Lato', sans-serif;
  padding: 5px;
}
.form-container {
  padding: 20px;
  margin: 0 auto;
  width: 55%;
}
h2, h3 {
  text-align: center;
}
#form-inputs {
  width: 100%;
}
button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 5px 45px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
  font-size: 23px;
  font-weight: 400;
  margin: 0 auto;
  display: block;
}
button:active {
  filter: brightness(0.4);
}
#submit-btn {
  background-color: #D0E9D5;
  border: 2px solid #87C081;
  border-radius: 15px;
  transition: all 500ms ease;
}
#submit-btn:hover {
  background-color: #87C081;
}
.reset-btn {
  background-color: #FFCCCA;
  border: 2px solid #D66966;
  border-radius: 15px;
  transition: all 500ms ease;
}
.reset-btn:hover {
  background-color: #D66966;
}
.btn-wrapper {
  display: flex;
  position: absolute;
  width: 90%;
  margin-top: 20px;
}
.wrapper-name {
  bottom: 1vh;
  position: absolute;
  font-weight: 400;
  font-size: 20px;
}
.contact-block span {
  vertical-align: middle;
}
.contact-block {
  line-height: 40px;
  display: flex;
  gap: 10px;
}
