/* Start reset settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* End reset settings */
body {
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  font-family: 'Lato', sans-serif;

}
.container {
  padding: 20px;
}
.info {
  background-color: #F4F3F3;
  width: fit-content;
  position: absolute;
  padding: 10px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
}
h1 {
  font-size: 2em;
}
.form-wrapper {
  margin: 0 auto;
  background-color: white;
  max-width: 850px;
  font-size: 20px;
  display: flex;
  line-height: 32px;
  position: relative;
  background-color: #F4F3F3;
}
.contact-links {
  background-color: white;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.contact-links img {
  width: 40px;
}
form {
  width: 97%;
  padding: 15px 15px 0px 15px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
  background-color: white;
  margin-top: 20px;
}
.form-img {
  background-image: url("mac.jpg");
  width: 40%;
  background-size: cover;
  height: 530px;
}
form label {
  width: 100px;
}
form input {
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(0 0 0 / 40%);
  width: 86%;
  float: right;
  margin-bottom: 7px;
  width: 100%;
}
.form-container {
  padding: 20px;
}
#form-inputs {
  width: 100%;
}
button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 5px 45px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
}
#send {
  float: right;
  background-color: #D5E8D4;
  border: 2px solid #A6C995;
  border-radius: 15px;
}
