/* Start reset settings */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* End reset settings */
body {
  background-color: #EFEFEF;
  font-family: 'Lato', cursive;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
h1 {
  font-family: 'Merienda One', cursive;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 15px 0;
}
.table-wrapper {
  background-color: white;
  padding: 25px;
  border: 2px solid #999999;
  border-radius: 7px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}
table {
  border: 2px solid #E8E8E7;
  width: 100%;
  border-collapse: collapse;
}
th {
  font-family: 'Merienda One', cursive;
  font-size: 22px;
  border: 2px solid #E8E8E7;
  width: 25%;
  background-color: #F5F5F5;
  position: relative;
  height: 45px;
}
.add-task {
  position: absolute;
  right: 12px;
  height: 25px;
  width: 25px;
  top: 10px;
  opacity: 0.8;
  cursor: pointer;
}
.taskcol {
  min-height: 60vh;
  width: 100%;
  padding: 15px;
}
td {
  border: 2px solid #E8E8E7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  position: relative;
}
.modal-title {
  font-family: 'Lato', cursive;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.modal-content input {
  height: 36px;
  line-height: 36px;
  font-family: 'Lato', cursive;
  font-weight: 400;
  font-size: 21px;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}
.modal-content button {
  font-family: 'Lato', cursive;
  font-weight: 700;
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 5px;
}
#btn-reset {
  background-color: #FCD0CC;
  border: 2px solid #E6A7B4;
}
#btn-reset:hover {
  background-color: #FFDEDC;
}
#btn-reset:active {
  background-color: #E6A7B4;
}
#btn-submit {
  background-color: #C2E3D0;
  border: 2px solid #8DC174;
  float: right;
}
#btn-submit:hover {
  background-color: #E3F1EA;
}
#btn-submit:active {
  background-color: #8DC174;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  position: absolute;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  top: 9px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.wrapper-name {
  font-family: 'Merienda One', cursive;
}
.task {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px 12px 15px;
  background-color: #F5F5F5;
  border: 2px solid #EDEDEC;
  font-weight: 700;
  font-size: 23px;
  border-radius: 5px;
  cursor: move;
  position: relative;
}
.task label {
  font-style: italic;
  cursor: move;
}
#div2 .task {
  background-color: #FCD0CC;
  border: 2px solid #E6A7B4;
}
#div3 .task {
  background-color: #C5DFFE;
  border: 2px solid #86ABD3;
}
#div4 .task {
  background-color: #C2E3D0;
  border: 2px solid #99C070;
}
.task .close {
  right: 10px;
}
